<nav class="navbar navbar-expand-md navbar-dark bg-dark">
 <a class="navbar-brand" routerLink="/home-page">{{projectName}}</a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>
 <div class="collapse navbar-collapse" id="navbarsExampleDefault">
   <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
       <a class="nav-link" routerLink = "/home-page">Home <span class="sr-only">(current)</span></a>
     </li>
     <li class="nav-item">
       <a class="nav-link" routerLink = "/blog-page">Blog</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" routerLink = "/travel-page">Travel</a>
     </li>
   </ul>
 </div>
 <button class="btn btn-outline-light my-2 my-sm-0" type="submit" routerLink="/cart">Checkout</button>
</nav>