<div class="container">
  <div>
    <h1 align="center">News</h1>
  </div>
  <div>
    <h3 class="mt-3">Cheap flights to China</h3>
    <div class="row justify-content-between  mb-5">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0 m-0">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0 m-0">
        <img class="mw-100" src="/assets/images/china.jpg" alt="china">
      </div>
    </div>
    <h3>Cheap flights to tropical paradise Somalia</h3>
    <div class="row justify-content-between ">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0 m-0">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 p-0 m-0">
        <img class="mw-100" src="/assets/images/somalia.jpg" alt="somalia">
      </div>
    </div>
  </div>
</div>